<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seuapp.modelo" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>App Gerado</name>
  <description>Template para HTML e URL</description>
  <author email="seu@email.com" href="https://github.com">Você</author>

  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />

  <preference name="Orientation" value="portrait" />
  <preference name="LoadUrlTimeoutValue" value="30000" />
  <preference name="DefaultVolumeStream" value="media" />
</widget>
